*{
    margin: 2px;
    padding: 0;
}
.navbar {
    display: flex;
    justify-content: center;
    /* margin-left: 1000px; */
    /* border: 2px solid red; */
}
body{
    background-color: black;
    color: #D3D3D3; 
}
.navbar ul {
    position: absolute;
    list-style-type: none;
    display:flex;
    border: 2px solid white;
    box-sizing: border-box;
    margin-left: 454px;
    margin-right: 433px;
    /* margin: 2px; */
    /* padding: auto; */
}

.navbar ul li{
    margin: 8px 4px 10px 38px;
    padding-left: 0px;
    padding-right: 16px;
}

.navbar ul li:hover{
    color: #1cd8d2;
    border-bottom: 2px solid #1cd8d2;
    border-top: 2px solid #1cd8d2;
    /* transition: all ease-in 0.5sec; */
}

ul li:before{
    transform: all 0.5s;
}